body {
  margin: 0;
  overflow: hidden;
}

.dragscroll {
  overflow: auto !important;
}

.container {
  display: flex;
  height: 100vh;
}

.index-col {
  background-color: ghostwhite;
  border-right: 2px solid gray;
  overflow: auto;
}

.index-col::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.play-area {
  background-color: ghostwhite;
  background-image: url(svgs/cl5ba840ef98425.gif);
  background-position: right top;
  background-repeat: no-repeat;
  flex-grow: 1;
  display: flex;
}

.original {
  background-image: url(svgs/loading.gif);
  background-size: contain;
}

.reference {
  display: inline-block;
}

.clear-screen {
  background-color: lightgrey;
  padding: 15px 25px;
  width: max-content;
  border: 1px solid black;
  border-radius: 5px;
  margin: 30px 20px;
  align-self: flex-end;
  cursor: default;
}

.clear-screen:active {
  background-color: gray;
}

.trash-can {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  align-self: flex-end;
  background-image: url(svgs/trash-can.svg);
  background-repeat: no-repeat;
  background-position: 0 -8px;
  border-radius: 5px;
}

.totals {
  align-self: flex-end;
  margin-bottom: 20px;
  font-size: 24px;
}

.dragscroll {
  overflow: hidden;
  cursor: grab;
  cursor: -o-grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.base {
  width: 50px;
  height: 50px;
  margin: 30px;
  cursor: grab;
}

.thing {
  position: absolute !important;
  z-index: 1;
}

.base:after {
  position: relative;
  top: 55px;
}

:after {
  display: block;
  text-align: center;
}

.earth {
  background-image: url(svgs/earth.svg);
}

.base.earth:after {
  content: "earth";
}

.thing.earth:after {
  content: "earth";
}

.air {
  background-image: url(svgs/air.svg);
}

.base.air:after {
  content: "air";
}

.thing.air:after {
  content: "air";
}

.fire {
  background-image: url(svgs/fire.svg);
}

.base.fire:after {
  content: "fire";
}

.thing.fire:after {
  content: "fire";
}

.water {
  background-image: url(svgs/water.svg);
}

.base.water:after {
  content: "water";
}

.thing.water:after {
  content: "water";
}

.lava {
  background-image: url(svgs/lava.svg);
}

.base.lava:after {
  content: "lava";
}

.thing.lava:after {
  content: "lava";
}

.energy {
  background-image: url(svgs/energy.svg);
}

.base.energy:after {
  content: "energy";
}

.thing.energy:after {
  content: "energy";
}

.dust {
  background-image: url(svgs/dust.svg);
}

.base.dust:after {
  content: "dust";
}

.thing.dust:after {
  content: "dust";
}

.steam {
  background-image: url(svgs/steam.svg);
}

.base.steam:after {
  content: "steam";
}

.thing.steam:after {
  content: "steam";
}

.mud {
  background-image: url(svgs/mud.svg);
}

.base.mud:after {
  content: "mud";
}

.thing.mud:after {
  content: "mud";
}

.rain {
  background-image: url(svgs/rain.svg);
}

.base.rain:after {
  content: "rain";
}

.thing.rain:after {
  content: "rain";
}

.pressure {
  background-image: url(svgs/pressure.svg);
}

.base.pressure:after {
  content: "pressure";
}

.thing.pressure:after {
  content: "pressure";
}

.heat {
  background-image: url(svgs/heat.svg);
}

.base.heat:after {
  content: "heat";
}

.thing.heat:after {
  content: "heat";
}

.sea {
  background-image: url(svgs/sea.svg);
}

.base.sea:after {
  content: "sea";
}

.thing.sea:after {
  content: "sea";
}

.obsidian {
  background-image: url(svgs/obsidian.svg);
}

.base.obsidian:after {
  content: "obsidian";
}

.thing.obsidian:after {
  content: "obsidian";
}

.rock {
  background-image: url(svgs/rock.svg);
}

.base.rock:after {
  content: "rock";
}

.thing.rock:after {
  content: "rock";
}

.arrowhead {
  background-image: url(svgs/arrowhead.svg);
}

.base.arrowhead:after {
  content: "arrowhead";
}

.thing.arrowhead:after {
  content: "arrowhead";
}

.land {
  background-image: url(svgs/land.svg);
}

.base.land:after {
  content: "land";
}

.thing.land:after {
  content: "land";
}

.brick {
  background-image: url(svgs/brick.svg);
}

.base.brick:after {
  content: "brick";
}

.thing.brick:after {
  content: "brick";
}

.lake {
  background-image: url(svgs/lake.svg);
}

.base.lake:after {
  content: "lake";
}

.thing.lake:after {
  content: "lake";
}

.wind {
  background-image: url(svgs/wind.svg);
}

.base.wind:after {
  content: "wind";
}

.thing.wind:after {
  content: "wind";
}

.movement {
  background-image: url(svgs/movement.svg);
}

.base.movement:after {
  content: "movement";
}

.thing.movement:after {
  content: "movement";
}

.river {
  background-image: url(svgs/river.svg);
}

.base.river:after {
  content: "river";
}

.thing.river:after {
  content: "river";
}

.lightning {
  background-image: url(svgs/lightning.svg);
}

.base.lightning:after {
  content: "lightning";
}

.thing.lightning:after {
  content: "lightning";
}

.swamp {
  background-image: url(svgs/swamp.svg);
}

.base.swamp:after {
  content: "swamp";
}

.thing.swamp:after {
  content: "swamp";
}

.life {
  background-image: url(svgs/life.svg);
}

.base.life:after {
  content: "life";
}

.thing.life:after {
  content: "life";
}

/*# sourceMappingURL=style.css.map */
